<section class="amenities section-booking">
  <div class="container amenities__decor">
    <article class="amenities__description">
      <h2
        class="amenities-title amenities-title_margin amenities__decor-second"
      >
        Зручності у номері
      </h2>
      <p class="text text--room amenities__specification">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <div class="amenities__article">
        <h3 class="bookingroom-title amenities__subtitle">Загальні</h3>
        <div class="grid-amenities">
          <p class="text text--room">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="text text--room">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </div>
      <div class="amenities__article">
        <h3 class="bookingroom-title amenities__subtitle">Ванна кімната</h3>
        <div class="grid-amenities">
          <p class="text text--room">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="text text--room">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </div>
      <div class="amenities__article">
        <h3 class="bookingroom-title amenities__subtitle">Спальня</h3>
        <p class="text text--room">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </div>
      <div class="amenities__article">
        <h3 class="bookingroom-title amenities__subtitle">Кухня</h3>
        <div class="grid-amenities">
          <p class="text text--room">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
          <p class="text text--room">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </div>
      <div class="amenities__article">
        <h3 class="bookingroom-title amenities__subtitle">Медіа</h3>
        <p class="text text--room">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </div>
    </article>
    <button class="button-reserve amenities__button" type="button">
      Оформити бронювання
    </button>
    <a class="amenities__return" href="./hotel.html#rooms">
      Повернутися до перегляду номерів
      <svg class="amenities__icon" width="24" height="24">
        <use href="./images/icons.svg#icon-arrow-right"></use>
      </svg>
    </a>
  </div>
</section>
