// Перша обгортка для контентних картинок у секціях
.imgbox {
  margin-left: auto;
  max-width: 244px;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  overflow: hidden;

  @include respondTo('tritonus') {
    position: relative; // для встановлення z-index більшого, ніж у декоративного елементу lines
  }

  @include respondTo('diapente') {
    max-width: 400px;
    position: absolute;
    top: -152px;
    right: 112px;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }

  @include respondTo('diapason') {
    top: -153px;
    right: 180px;
    max-width: 460px;
  }

  &--content {
    @include respondTo('tritonus') {
      margin-bottom: 32px;
    }
  }

  &--left {
    margin-left: 0;

    @include respondTo('tritonus') {
      margin-bottom: 32px;
    }

    @include respondTo('diapente') {
      top: -144px;
      left: 112px;
    }

    @include respondTo('diapason') {
      left: 180px;
    }
  }

  // Обгортка картинок секцій номерів 
  &--rooms {
    @include respondTo('diapente') {
      top: -94px;
    }

    @include respondTo('diapason') {
      top: -105px;
    }
  }

  &--rooms-left {
    margin-left: 0;
    
    @include respondTo('diapente') {
      top: -96px;
      left: 112px;
    }
  
    @include respondTo('diapason') {
      top: -105px;
      left: 180px;
    }
  }
}

// Друга обгортка для контентних картинок у секціях
.imgbox-second {
  max-width: 200px;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  overflow: hidden;

  @include respondTo('tritonus') {
    position: relative; // для встановлення z-index більшого, ніж у декоративного елементу lines
  }

  @include respondTo('diapente') {
    max-width: 350px;
  }

  @include respondTo('diapason') {
    max-width: 460px;
  }
}
