.logo {
  @extend %link;
  font-family: $logo-font;
  font-weight: 700;
  letter-spacing: 0.3em;
  line-height: 1.075;
  text-transform: uppercase;

  &--header {
    display: block;
    color: getColor('primary-inversed');
    font-size: 36px;
    margin-right: auto;

    @include respondTo('diapente') {
      font-size: 40px;
    }
  }

  &--footer {
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: getColor('accent');

    @include respondTo('diapente') {
      font-size: 64px;
    }
  }
}
