@import './backdrop',
'./brand',
'./button',
'./button-reserve',
'./lines',
'./location',
'./logo',
'./main-tagline',
'./main-title',
'./navigation',
'./scroll-up.scss',
'./section',
'./socials',
'./subtitle',
'./swiper',
'./table',
'./tagline',
'./titles',
'./text';