.socials {
  @extend %list;
  display: flex;
  align-items: center;

  &--header {
    gap: 20px;
    margin-left: auto;

    @include respondTo('heptachordium maius') {
      display: none;
    }
  }

  &__link {
    @extend %link;
    font-family: $text-font-stack;
    font-size: 16px;
    line-height: 1.219;
    letter-spacing: 0.02em;
    color: mix(transparent, getColor('accent'), 30%);
    @include transition(color);

    &:hover,
    &:focus,
    &:active {
      color: getColor('accent');
    }
  }

  &__text {
    @include respondTo('tritonus') {
      display: none;
    }
    @include respondTo('diapente') {
      display: block;
    }
  }

  &__icon {
    @extend %icon;
  }
}