// Свайпер світлих секцій
.swiper-content {
  padding-top: 32px;
  max-width: 330px;
  width: 100%;
  overflow: hidden;

  @include respondTo('semiditonus') {
    max-width: 200px;
  }

  @include respondTo('tritonus') {
    padding-bottom: 20px; // додав замість падінгу секції для кращого відображення тіні
  }

  @include respondTo('diapente') {
    max-width: 428px;
    padding-top: 52px;
  }

  @include respondTo('diapason') {
    max-width: 548px;
  }

  &--right {
    margin-left: auto;
  }

  &--left {
    margin-right: auto;
  }

  .rooms-interactive & {
    
    @include respondTo('diapente') {
      padding-top: 68px;
    }
  }

  & > .swiper-wrapper {
    margin-bottom: 20px;

    @include respondTo('diapente') {
      margin-bottom: 32px;
    }

    @include respondTo('diapason') {
      margin-bottom: 36px;
    }
  }

  & .swiper-arrows--right {
    @include respondTo('tritonus') {
      margin-right: 15px;
      justify-content: flex-end;
    }
  }

  & .swiper-arrows--left {
    @include respondTo('tritonus') {
      margin-left: 15px;
    }
  }

  & .swiper-button-next,
  & .swiper-button-prev {
    fill: getColor('primary');
    @include transition(fill);
  }
}
