.red {
  width: 100px;
  height: 100px;
  background-color: red;
}

.container {
  outline: 1px dotted red;
}

.container-swiper {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  position: relative;
  @include respondTo('diapente') {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
  }
}

.wrapper-mask {
  position: relative;
  // outline: 2px dotted green;
  overflow: hidden;
  padding: 60px;

  .wrapper-swiper--right & {
    margin-right: -15px;
    @include respondTo('pre-unisonus') {
      margin-left: -15px;
    }
    @include respondTo('diapente') {
      margin-right: -60px;
      margin-left: 0;
    }
  }
  .wrapper-swiper--left & {
    margin-left: -15px;
    @include respondTo('pre-unisonus') {
      margin-right: -15px;
    }
    @include respondTo('diapente') {
      margin-left: -60px;
      margin-right: 0;
    }
  }
}

.swiper-triple--left .wrapper-mask {
  padding: 0;
  @include respondTo('tritonus') {
    width: 355px;
    transform: translateX(-44px);
  }
  @include respondTo('diapente') {
    width: 615px;
    margin-right: 0;
  }
  @include respondTo('diapason') {
    width: 815px;
  }
}

.swiper-triple--right .wrapper-mask {
  padding: 0;
  @include respondTo('tritonus') {
    width: 355px;
    margin-right: -15px;
  }
  @include respondTo('diapente') {
    width: 615px;
  }
  @include respondTo('diapason') {
    width: 815px;
  }
}

.swiper {
  overflow: visible;

  @include respondTo('pre-unisonus') {
    width: 192px;
  }
  @include respondTo('unisonus') {
    width: 404px;
    transform: translateX(34px);
  }

  @include respondTo('diapente') {
    width: 428px;
    transform: translateX(0px);
  }
  @include respondTo('diapason') {
    width: 548px;
    transform: translateX(0px);
  }
  &--large {
    @include respondTo('pre-unisonus') {
      width: 245px;
    }
    @include respondTo('unisonus') {
      width: 506px;
    }

    @include respondTo('diapente') {
      width: 428px;
    }
    @include respondTo('diapason') {
      width: 530px;
    }
  }

  &-wrapper {
    @extend %list;
  }
}

.swiper-triple {
  width: 550px;
  @include respondTo('diapente') {
    width: 619px;
  }
  @include respondTo('diapason') {
    width: 970px;
  }
  .swiper-triple--left & {
    @include respondTo('tritonus') {
      transform: translateX(-198px);
    }
    @include respondTo('diapente') {
      transform: translateX(-134px);
    }
    @include respondTo('diapason') {
      transform: translateX(-154px);
    }
  }
}

.container-swiper-triple {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.swiper-triple--left .container-swiper-triple {
  @include respondTo('diapente') {
    flex-direction: row;
  }
}

.swiper-triple--right .container-swiper-triple {
  @include respondTo('diapente') {
    flex-direction: row-reverse;
  }
}

.swiper-triple .image {
  height: 100%;
  width: 100%;
}

.swiper .swiper-slide {
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  visibility: hidden;
}

.swiper .swiper-slide-active {
  visibility: visible;
}

.wrapper-swiper--right .swiper-slide-prev {
  visibility: hidden;

  @include respondTo('diapente') {
    visibility: hidden;
  }
}

.wrapper-swiper--left .swiper-slide-prev {
  visibility: visible;
  @include respondTo('diapente') {
    visibility: hidden;
  }
}

.wrapper-swiper--left .swiper-slide-next {
  visibility: hidden;
  @include respondTo('diapente') {
    visibility: visible;
  }
}

.wrapper-swiper--right .swiper-slide-next {
  visibility: visible;
  @include respondTo('diapente') {
    visibility: visible;
  }
}

.swiper-hero .swiper-slide-next {
  visibility: hidden;
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative;
  left: unset;
  right: unset;
  top: 0;
  width: 32px;
  height: 32px;
  margin-top: 0;
  @extend %icon;
  fill: getColor('primary');
  @include transition(fill);
  &:hover {
    fill: getColor('accent');
  }
}

.container-swiper-triple .swiper-button-next,
.container-swiper-triple .swiper-button-prev {
  fill: getColor('primary-inversed');
  @include transition(fill);
  &:hover {
    fill: getColor('accent');
  }
}

// ЗМІНА КОЛЬОРУ СТРІЛОЧОК ДЛЯ ТЕМНОЇ СЕКЦІЇ (HOTEL-DETAILS)
.hotel-details__swiper--arrow {
  fill: getColor('primary-inversed');
}

.swiper-button-disabled.swiper-button-next,
.swiper-button-disabled.swiper-button-prev {
  opacity: 1;
  fill: getColor('primary-inversed');
}

.wrapper-swiper {
  margin-top: -24px;
  @include respondTo('diapente') {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &--right {
    flex-direction: row-reverse;
  }
}

.swiper__arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  gap: 32px;
  position: absolute;
  .wrapper-swiper--right & {
    bottom: 10px;
    right: 15px;
    @include respondTo('diapente') {
      right: 0px;
    }
  }
  .wrapper-swiper--left & {
    bottom: 10px;
    left: 0px;
    @include respondTo('diapente') {
      left: 0px;
    }
  }
}

.swiper-triple--right .swiper__arrows {
  @include respondTo('tritonus') {
    left: 60px;
    bottom: 144px;
  }
  @include respondTo('diapente') {
    bottom: -45px;
    right: 45px;
    left: unset;
  }
  @include respondTo('diapason') {
    right: 85px;
    left: unset;
  }
}

.swiper-triple--left .swiper__arrows {
  @include respondTo('tritonus') {
    left: 257px;
    bottom: 144px;
  }
  @include respondTo('diapente') {
    bottom: -45px;
    left: 45px;
    right: unset;
  }
  @include respondTo('diapason') {
    bottom: -45px;
    left: 85px;
    right: unset;
  }
}

.swiper-hero {
  width: 100%;
  height: 100%;
}

.swiper-hero-button-next,
.swiper-hero-button-prev {
  position: absolute;
  z-index: 99;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.swiper-hero-button-next {
  right: 15px;
  @include respondTo('diapente') {
    right: 47px;
  }
  @include respondTo('diapason') {
    right: 85px;
  }
}

.swiper-hero-button-prev {
  left: 15px;
  @include respondTo('diapente') {
    left: 47px;
  }
  @include respondTo('diapason') {
    left: 85px;
  }
}
