.container-swiper {
  display: flex;
  // flex-direction: column;
  // margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 414px;
  padding-right: 0;
  padding-left: 0;

  @include respondTo('diapente') {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-top: 0px;
  }
}

.wrapper-mask {
  position: relative;
  // overflow: hidden;
  // margin-right: -15px;
  // padding: 60px;
  padding-top: 32px;
  padding-bottom: 20px;
  padding-left: 74px;

  .wrapper-swiper--right & {
    margin-right: -15px;
    @include respondTo('pre-unisonus') {
      margin-left: -15px;
    }
    @include respondTo('diapente') {
      margin-right: -60px;
      margin-left: 0;
    }
  }
  .wrapper-swiper--left & {
    margin-left: -15px;
    @include respondTo('pre-unisonus') {
      margin-right: -15px;
    }
    @include respondTo('diapente') {
      margin-left: -60px;
      margin-right: 0;
    }
  }
}

.swiper {
  overflow: visible;

  @include respondTo('pre-unisonus') {
    max-width: 192px;
  }
  @include respondTo('unisonus') {
    max-width: 404px;
    transform: translateX(34px);
  }

  @include respondTo('diapente') {
    max-width: 428px;
    transform: translateX(0px);
  }
  @include respondTo('diapason') {
    max-width: 548px;
    transform: translateX(0px);
  }
  &--large {
    @include respondTo('pre-unisonus') {
      max-width: 245px;
    }
    @include respondTo('unisonus') {
      max-width: 506px;
    }

    @include respondTo('diapente') {
      max-width: 428px;
    }
    @include respondTo('diapason') {
      max-width: 530px;
    }
  }
  &-slide {
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    // visibility: hidden;
  }
  &-wrapper {
    @extend %list;
  }
}

// .swiper-slide.swiper-slide-prev,
.swiper-slide-active {
  visibility: visible;
}

.swiper-slide-prev {
  .wrapper-swiper--right & {
    visibility: hidden;
  }
  @include respondTo('diapente') {
    visibility: hidden;
  }

  .wrapper-swiper--left & {
    visibility: visible;
    @include respondTo('diapente') {
      visibility: hidden;
    }
  }
}
.swiper-slide-next {
  .wrapper-swiper--left & {
    visibility: hidden;
  }
  @include respondTo('diapente') {
    visibility: visible;
  }

  .wrapper-swiper--right & {
    visibility: visible;
    @include respondTo('diapente') {
      visibility: visible;
    }
  }
}

//ПЕРЕВИЗНАЧЕНІ СТИЛІ ДЛЯ СТОРІНКИ HOME СЕКЦІЯ HOTEL-DETAILS!!!!!!
.hotel-details__swiper-slide.swiper-slide-prev {
  width: 162px !important;
}

.hotel-details__swiper-slide.swiper-slide-active {
  width: 270px !important;
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative;
  left: unset;
  right: unset;
  top: 0;
  width: 32px;
  height: 32px;
  margin-top: 0;
  @extend %icon;
  fill: getColor('primary');
  @include transition(fill);
  &:hover {
    fill: getColor('accent');
  }
}

// ЗМІНА КОЛЬОРУ СТРІЛОЧОК ДЛЯ ТЕМНОЇ СЕКЦІЇ (HOTEL-DETAILS)
.hotel-details__swiper--arrow {
  fill: getColor('primary-inversed');
}

.swiper-button-disabled.swiper-button-next,
.swiper-button-disabled.swiper-button-prev {
  opacity: 1;
  fill: getColor('primary-inversed');
}

.wrapper-swiper {
  // margin-top: -24px;
  padding-top: 32px;
  padding-bottom: 72px;
  overflow: hidden;
  position: relative;

  @include respondTo('diapente') {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &--right {
    flex-direction: row-reverse;
  }
}

.swiper-button-disabled.swiper-button-prev {
  opacity: 1;
}

.swiper__arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  gap: 32px;
  position: absolute;
  bottom: 8px;
  left: 30px;
  right: unset;
  @include respondTo('diapente') {
    right: unset;
    left: 60px;
  }
  .wrapper-swiper--right & {
    left: unset;
    right: 32px;

    @include respondTo('diapente') {
      right: 56px;
    }
  }
}

.swiper-slide .image {
  width: 100%;
  height: 100%;
}
