.container-swiper {
  display: flex;
  flex-direction: column;
  margin-top: 0px;

  @include respondTo('diapente') {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
  }
}

.wrapper-mask {
  position: relative;
  overflow: hidden;
  padding: 60px;

  .wrapper-swiper--right & {
    margin-right: -15px;
    @include respondTo('pre-unisonus') {
      margin-left: -15px;
    }
    @include respondTo('diapente') {
      margin-right: -60px;
      margin-left: 0;
    }
  }
  .wrapper-swiper--left & {
    margin-left: -15px;
    @include respondTo('pre-unisonus') {
      margin-right: -15px;
    }
    @include respondTo('diapente') {
      margin-left: -60px;
      margin-right: 0;
    }
  }
}

.swiper {
  overflow: visible;

  @include respondTo('pre-unisonus') {
    width: 192px;
  }
  @include respondTo('unisonus') {
    width: 404px;
    transform: translateX(34px);
  }

  @include respondTo('diapente') {
    width: 428px;
    transform: translateX(0px);
  }
  @include respondTo('diapason') {
    width: 548px;
    transform: translateX(0px);
  }
  &--large {
    @include respondTo('pre-unisonus') {
      width: 245px;
    }
    @include respondTo('unisonus') {
      width: 506px;
    }

    @include respondTo('diapente') {
      width: 428px;
    }
    @include respondTo('diapason') {
      width: 530px;
    }
  }

  &-wrapper {
    @extend %list;
  }
}

.swiper .swiper-slide {
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  visibility: hidden;
}

.swiper .swiper-slide-active {
  visibility: visible;
}

.swiper .swiper-slide-prev {
  .wrapper-swiper--right & {
    visibility: hidden;
  }
  @include respondTo('diapente') {
    visibility: hidden;
  }

  .wrapper-swiper--left & {
    visibility: visible;
    @include respondTo('diapente') {
      visibility: hidden;
    }
  }
}

.swiper .swiper-slide-next {
  .wrapper-swiper--left & {
    visibility: hidden;
  }
  @include respondTo('diapente') {
    visibility: visible;
  }
  .wrapper-swiper--right & {
    visibility: visible;
    @include respondTo('diapente') {
      visibility: visible;
    }
  }
}

.swiper-hero .swiper-slide-next {
  visibility: hidden;
}

//ПЕРЕВИЗНАЧЕНІ СТИЛІ ДЛЯ СТОРІНКИ HOME СЕКЦІЯ HOTEL-DETAILS!!!!!!
.hotel-details__swiper-slide.swiper-slide-prev {
  width: 162px !important;
}

.hotel-details__swiper-slide.swiper-slide-active {
  width: 270px !important;
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative;
  left: unset;
  right: unset;
  top: 0;
  width: 32px;
  height: 32px;
  margin-top: 0;
  @extend %icon;
  fill: getColor('primary');
  @include transition(fill);
  &:hover {
    fill: getColor('accent');
  }
}

// ЗМІНА КОЛЬОРУ СТРІЛОЧОК ДЛЯ ТЕМНОЇ СЕКЦІЇ (HOTEL-DETAILS)
.hotel-details__swiper--arrow {
  fill: getColor('primary-inversed');
}

.swiper-button-disabled.swiper-button-next,
.swiper-button-disabled.swiper-button-prev {
  opacity: 1;
  fill: getColor('primary-inversed');
}

.wrapper-swiper {
  margin-top: -24px;
  @include respondTo('diapente') {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &--right {
    flex-direction: row-reverse;
  }
}

.swiper__arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  gap: 32px;
  position: absolute;
  bottom: 8px;
  left: 30px;
  right: unset;
  @include respondTo('diapente') {
    right: unset;
    left: 60px;
  }
  .wrapper-swiper--right & {
    left: unset;
    right: 32px;

    @include respondTo('diapente') {
      right: 56px;
    }
  }
}

.swiper-hero {
  width: 100%;
  height: 100%;
}

.swiper-hero-button-next,
.swiper-hero-button-prev {
  position: absolute;
  z-index: 99;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.swiper-hero-button-next {
  right: 15px;
  @include respondTo('diapente') {
    right: 47px;
  }
  @include respondTo('diapason') {
    right: 85px;
  }
}

.swiper-hero-button-prev {
  left: 15px;
  @include respondTo('diapente') {
    left: 47px;
  }
  @include respondTo('diapason') {
    left: 85px;
  }
}
