// Свайпер секцій details головної сторінки
.swiper-container {
  @include respondTo('tritonus') {
    margin-bottom: 32px;
  }
}

.swiper-details {
  max-width: 374px;
  width: 100%;
  overflow: hidden;

  @include respondTo('semiditonus') {
    max-width: 320px;
  }

  @include respondTo('diapente') {
    max-width: 662px;
    margin-bottom: 24px;
  }

  @include respondTo('diapason') {
    max-width: 875px;
  }

  &--right {

    @include respondTo('tritonus') {
      margin-left: auto;
      margin-bottom: 32px;
    }

    & > .swiper-wrapper {
      margin-bottom: 16px;
    }
  }

  &--left {
    margin-bottom: 16px;

    @include respondTo('tritonus') {
      margin-right: auto;
    }
  }
}

.swiper-details__arrows {
  @include respondTo('tritonus') {
    margin-right: 25px;
  }
}
