.text {
  @extend %marginPaddingReset;
  font-family: $text-font-stack;
  line-height: 1.219;
  letter-spacing: 0.02em;

  &__main {
    font-size: 12px;
    font-weight: 600;

    @include respondTo('diapente') {
      font-size: 16px;
    }
  }

  &__room {
    font-weight: 700;
    font-size: 16px;
    color: mix(white, getColor('primary'), 48%);
    max-width: 400px;
    width: 100%;
  }
}
