.header {
  position: absolute;
  display: block;
  width: 100%;
  top: 16px;
  left: 0;
  z-index: 999;

  @include respondTo('diapente') {
    top: 24px;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.header__navigation {
  display: flex;
  align-items: center;

  @include respondTo('heptachordium maius') {
    flex-grow: 1;
  }
}

.header__navigation-list {
  display: flex;
  gap: 20px;

  @include respondTo('diapente') {
    gap: 72px;
  }
}

.header__navigation-item {
  @include respondTo('diapente') {
    gap: 32px;
  }
}

.header__navigation-link {
  @include respondTo('tritonus') {
    margin-right: 6px;
  }
}