.section {
  position: relative;

  &__container {
    @include respondTo('diapente') {
      position: relative;
    }
  }
}

.section-hero {
  position: relative;
  padding-top: 181px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  max-width: 414px;

  @include respondTo('diapente') {
    padding-top: 188px;
    padding-bottom: 15px;
    max-width: 1024px;
  }

  @include respondTo('diapason') {
    padding-top: 164px;
    padding-bottom: 64px;
    max-width: 1280px;
  }
}

.section-content {
  padding-top: 16px;
  padding-bottom: 20px;
  background-color: #fffdee;

  @include respondTo('diapente') {
    padding-top: 120px;
    padding-bottom: 32px;
  }

  @include respondTo('diapason') {
    padding-bottom: 50px;
  }
}

.section-details {
  margin-right: auto;
  margin-left: auto;
  padding-top: 24px;
  padding-bottom: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  max-width: 414px;

  @include respondTo('diapente') {
    max-width: 1024px;
    padding-top: 48px;
  }

  @include respondTo('diapason') {
    max-width: 1280px;
  }
}

.section-booking {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #fffdee;

  @include respondTo('diapente') {
    padding-top: 64px;
    padding-bottom: 40px;
  }

  @include respondTo('diapason') {
    padding-top: 72px;
  }
}
