.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  @include respondTo('diapente') {
    justify-content: space-between;
  }
}

.hotel-buttonbox {
  @include respondTo('tritonus') {
    margin-top: 20px;
  }
}
