.hotel-about__logo {
  text-align: right;
  margin-left: auto;
  margin-right: -12.5px;
  margin-bottom: 16px;

  @include respondTo('pre-unisonus') {
    margin-bottom: 4vw;
  }

  @include respondTo('diapason') {
    color: #828282;
  }
}

.hotel-about__description {
  margin-left: auto;

  @include respondTo('pre-unisonus') {
    max-width: 58vw;
    margin-bottom: 7vw;
    font-size: 9px;
  }

  @include respondTo('unisonus') {
    max-width: 242px;
  }

  @include respondTo('diapente') {
    max-width: 419px;
  }

  @include respondTo('diapason') {
    max-width: 488px;
  }
}

.hotel-about__descr-second {
  margin-left: 0;
  margin-right: 21px;

  @include respondTo('pre-unisonus') {
    max-width: 42%;
    font-size: 9px;
    margin-right: 5vw;
  }

  @include respondTo('diapente') {
    margin-right: 48px;
  }

  @include respondTo('diapason') {
    margin-right: 45px;
  }
}

.container-swiper--positioned {

  @include respondTo('diapente') {
    margin-top: -86px;
    margin-left: -120px;
  }

  @include respondTo('diapason') {
    margin-top: -220px;
    margin-left: -88px;
  }
}

.swiper--modified {
  @include respondTo('tritonus') {
    max-width: 312px;
    transform: translateX(28px);
  }

  @include respondTo('diapente') {
    transform: translateX(210px);
  }

  @include respondTo('diapason') {
    transform: translateX(273px);
  }
}

.swiper-slide--modified {
  overflow: hidden;
}

.wrapper-mask > .swiper-button-prev--positioned {

  @include respondTo('tritonus') {
    left: 307px;
  }

  @include respondTo('diapente') {
    left: 391px;
  }

  @include respondTo('diapason') {
    left: 495px;
  }
}

.wrapper-mask > .swiper-button-next--positioned {

  @include respondTo('tritonus') {
    left: 369px;
  }

  @include respondTo('diapente') {
    left: 457px;
  }

  @include respondTo('diapason') {
    left: 556px;
  }
}