.hotel-details {
  position: relative;
}

.hotel-details__canvas {
  @include backgroundImageRetina(
    $gradient: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    $page: hero,
    $section: hotel,
    $part: mobile,
    $file: hero-mob,
    $webp-file: '../images/hero/hotel/desktop/hero-desk.webp'
  );
  @include respondTo('diapente') {
    @include backgroundImageRetina(
      $gradient: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)),
      $page: hero,
      $section: hotel,
      $part: tablet,
      $file: hero-tab,
      $webp-file: '../images/hero/hotel/desktop/hero-desk.webp'
    );
  }
  @include respondTo('diapason') {
    @include backgroundImageRetina(
      $gradient: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      $page: hero,
      $section: hotel,
      $part: desktop,
      $file: hero-desk,
      $webp-file: '../images/hero/hotel/desktop/hero-desk.webp'
    );
  }
}

.hotel-details__container {
  position: relative;
}

.hotel-details__brand {
  color: getColor('primary-inversed');
  margin-bottom: 12px;

  @include respondTo('tritonus') {
    text-align: center;
  }

  @include respondTo('diapente') {
    margin-bottom: 16px;
  }
}

.hotel-details__title {
  position: relative;
  left: 186px;
  margin-bottom: 20px;

  @include respondTo('diapente') {
    margin-bottom: 8px;
  }
}

.hotel-details__text {
  margin-bottom: 48px;
  max-width: 243px;
  position: relative;
  left: 17px;
  color: #bababa;

  @include respondTo('diapente') {
    max-width: 549px;
    left: 150px;
    margin-bottom: 40px;
  }
}

.btn-box {

  @include respondTo('diapente') {
    position: absolute;
    right: 0;
    bottom: 100px;
    padding: 0;
    margin: 0;
  }
}

.hotel-details__button {
  @include buttonSize(
    $padding-top: 14px,
    $padding-bottom: 14px,
    $section-button: true
  );
  @include buttonPlace($transparent-button: true);

  & + & {
    margin-top: 16px;
  }

  @include respondTo('tritonus') {
    margin-right: auto;
    margin-left: auto;
  }
}

//.hotel-details__slide--img {
//  height: 270px;
//  object-fit: cover;
//}
