.hotel-details__brand {
  color: getColor('primary-inversed');
  margin-bottom: 12px;

  @include respondTo('tritonus') {
    text-align: center;
  }

  @include respondTo('diapente') {
    margin-bottom: 16px;
  }
}

.hotel-details__title {
  position: relative;
  left: 186px;
  margin-bottom: 20px;

  @include respondTo('diapente') {
    margin-bottom: 8px;
  }
}

.hotel-details__text {
  margin-bottom: 48px;
  max-width: 243px;
  position: relative;
  left: 17px;
  color: #bababa;

  @include respondTo('diapente') {
    max-width: 549px;
    left: 150px;
    margin-bottom: 40px;
  }
}

.btn-box {

  @include respondTo('diapente') {
    position: absolute;
    right: 0;
    bottom: 100px;
    padding: 0;
    margin: 0;
  }
}
