.hotel-details__logo {
  text-align: right;
  margin-right: -14px;

  @include respondTo('diapente') {
    margin-right: -21px;
  }
}

.hotel-details__title {
  text-align: right;
  margin-bottom: 20px;

  @include respondTo('diapente') {
    margin-bottom: 8px;
  }
}

.btn-box {
  @include respondTo('tritonus') {
    padding-top: 80px;
    align-self: center;
  }
  @include respondTo('diapente') {
    // padding-bottom: 60px;
  }
}
