.restaurant-about {
  position: relative;
}

.restaurant-about__container {
  @include respondTo('diapente') {
    position: relative;
  }
}

.restaurant-about__tagline {
  margin-bottom: 12px;

  @include respondTo('diapente') {
    margin-bottom: 4px;
  }
}

.restaurant-about__brand {
    margin-bottom: 12px;

  @include respondTo('diapente') {
    margin-bottom: 24px;
  }
}

.restaurant-about__description {
  margin-bottom: 28px;
  max-width: 258px;
  color: mix(getColor('primary-inversed'), getColor('primary'), 37.3%);

  @include respondTo('diapente') {
    max-width: 439px;
    margin-bottom: 142px;
  }

  @include respondTo('diapason') {
    max-width: 518px;
    margin-bottom: 162px;
  }
}

.restaurant-about__wrap {
  display: flex;
  align-items: center;

  @include respondTo('tritonus') {
    margin-bottom: 32px;
  }
}

.restaurant-about__descr-second {
  color: getColor('accent-darker');
  max-width: 163px;
  margin-left: 20px;

  @include respondTo('diapente') {
    position: relative;
    top: 7px;
    max-width: 312px;
    margin-left: 48px;
  }

  @include respondTo('diapason') {
    bottom: 40px;
    max-width: 311px;
    margin-left: 32px;
  }
}

.restaurant-about__arrow {
  display: flex;
  justify-content: end;
  gap: 32px;
}

.restaurant-about__icon {
  display: block;
  margin-left: 301px;
}

.container__restaurant-about {
  display: block;
}

.swiper-slide {
  display: flex;
  width: 100%;
}

// .img-swiper {
//   width: 245px;
// }
