.restaurant-about__logo {

  @include respondTo('diapason') {
    color: #828282;
  }
}

.restaurant-about__arrow {
  display: flex;
  justify-content: end;
  gap: 32px;
}

.restaurant-about__icon {
  display: block;
  margin-left: 301px;
}

.container__restaurant-about {
  display: block;
}