.restaurant-details {
  position: relative;
}

.restaurant-details__container {
  position: relative;
}

.restaurant-details__wrap-text {
  position: relative;
  left: 125px;
  top: 0;

  @include respondTo('diapente') {
    left: 231px;
  }

  @include respondTo('diapason') {
    left: 253px;
  }
}

.restaurant-details__brand {
  margin-bottom: 12px;
  color: getColor('primary-inversed');

  @include respondTo('diapente') {
    margin-bottom: 16px;
  }
}

.restaurant-details__title {
  margin-bottom: 20px;

  @include respondTo('diapente') {
    margin-bottom: 8px;
  }
}

.restaurant-details__text {
  margin-bottom: 48px;
  max-width: 259px;
  color: scale-color(getColor('primary-inversed'), $blackness: 37%);

  @include respondTo('diapente') {
    margin-bottom: 198px;
    max-width: 610px;
  }

  @include respondTo('diapason') {
    margin-bottom: 200px;
  }
}

.restaurant-details__wrap-flex {
  z-index: 10;

  @include respondTo('tritonus') {
    margin-bottom: 32px;
  }
  
  @include respondTo('diapente') {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
  }
}

.restaurant-details__wrap-swipe {
  margin-left: 25px;
  margin-bottom: 32px;
  overflow: hidden;

  @include respondTo('diapente') {
    margin-bottom: 47px;
    margin-left: 254px;
  }

  @include respondTo('diapason') {
    margin-left: 257px;
  }
}

.restaurant-details__list {
  @extend %list;
  display: flex;
  column-gap: 30px; //прибрати це (в скрипті вже задана відстань
  margin-bottom: 16px;

  @include respondTo('diapente') {
    margin-bottom: 32px;
  }
}

.restaurant-details__img {
  @extend %marginPaddingReset;
  border-radius: 2px;
  background-color: hsl(0, 0%, 85%);
}

// .restaurant-details__icon {
//   @extend %icon;
//   display: inline;
//   margin-right: 30px;
//   fill: getColor("primary-inversed");
// }

.restaurant-details__button {
  @extend %link;
  text-align: center;
}
