.room-luxe {
  position: relative;
}

.room-luxe__container {
  @include respondTo('diapente') {
    position: relative;
  }
}

.room-luxe__tagline {
  margin-bottom: 8px;

  @include respondTo('diapente') {
    margin-bottom: 4px;
  }
}

.room-luxe__brand {
  margin-bottom: 32px;

  @include respondTo('diapente') {
    margin-bottom: 62px;
  }

  @include respondTo('diapason') {
    margin-bottom: 72px;
  }
}

.room-luxe__title {

  &--lowercase {
    text-transform: lowercase;
  }
}

.room-luxe__text {
  margin-bottom: 32px;
  max-width: 258px;
  color: #5f5f5f;

  @include respondTo('diapente') {
    max-width: 439px;
    margin-bottom: 176px;
  }
  @include respondTo('diapason') {
    margin-bottom: 188px;
    color: #7a7a7a;
    max-width: 400px;
  }
}

.button-wrapper {
  @include respondTo('tritonus') {
    margin-top: 20px;
  }
}