.room-double__tagline {
  margin-bottom: 8px;

  @include respondTo('diapente') {
    margin-bottom: 4px;
  }
}

.room-double__brand {
  margin-bottom: 32px;

  @include respondTo('diapente') {
    margin-bottom: 62px;
  }

  @include respondTo('diapason') {
    margin-bottom: 72px;
  }
}

.room-double__text {

  @include respondTo('diapente') {
    margin-bottom: 174px;
  }
}