.room-triple {
  background-color: #f0ecd6;
}

.room-triple__tagline {
  text-align: end;
  margin-bottom: 8px;

  @include respondTo('diapente') {
    margin-right: 17px;
    margin-bottom: 4px;
  }

  @include respondTo('diapason') {
    margin-right: 57px;
  }
}

.room-triple__brand {
  margin-bottom: 32px;
  text-align: right;
  margin-right: -12px;

  @include respondTo('diapente') {
    margin-bottom: 62px;
    margin-right: -3px;
  }

  @include respondTo('diapason') {
    margin-bottom: 72px;
    margin-right: 37px;
  }
}

.room-triple__title {
    text-align: right;

  @include respondTo('diapente') {
    margin-right: 43px;
  }

  @include respondTo('diapason') {
    margin-right: 57px;
  }
}