.room-luxe__tagline {
  margin-bottom: 8px;

  @include respondTo('diapente') {
    margin-bottom: 4px;
  }
}

.room-luxe__brand {
  margin-bottom: 32px;

  @include respondTo('diapente') {
    margin-bottom: 62px;
  }

  @include respondTo('diapason') {
    margin-bottom: 72px;
  }
}

.room-luxe__title {

  &--lowercase {
    text-transform: lowercase;
  }
}