.room-hero {
  width: 100%;
  max-width: 414px;
  height: 740px;
  padding: 0;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  text-align: left;

  @include respondTo('diapente') {
    max-width: 1024px;
    height: 720px;
  }
  @include respondTo('diapason') {
    max-width: 1280px;
  }
}

.room-hero__decor {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 143px;
    background-image: linear-gradient(
      180deg,
      #000000 0%,
      rgba(0, 0, 0, 0.55) 54.17%,
      rgba(0, 0, 0, 0) 100%
    );
    @include respondTo('diapente') {
      height: 100px;
    }
    @include respondTo('diapason') {
      height: 147px;
    }
  }
}

.room-hero__title {
  @extend %marginPaddingReset;
  margin-bottom: 14px;

  font-family: $text-times-font;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.05em;
  color: getColor('primary-inversed');
  text-transform: uppercase;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);

  @include respondTo('diapente') {
    font-size: 36px;
    margin-bottom: 24px;
  }

  &--transform {
    text-transform: lowercase;
  }
}

.room-hero__descr {
  max-width: 325px;
  color: getColor('primary-inversed');
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);

  @include respondTo('diapente') {
    max-width: 400px;
  }

  &--accent {
    color: getColor('primary-inversed');
    text-shadow: black 0.1em 0.1em 0.2em;
  }
}

.room-hero__arrows {
  @extend %list;
}

.room-hero__swiper-button {
  @extend %marginPaddingReset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparentize($color: getColor('primary'), $amount: 0.35);
  fill: getColor('accent');
  border: none;
  @include transition(fill);

  &:hover,
  &:focus,
  &:active {
    fill: transparentize($color: getColor('accent'), $amount: 0.3);
  }
}

.room-hero__location {
  position: absolute;
  z-index: 10;
  @include transition(border, background-color);

  &:hover {
    border: 1px solid getColor('accent-darker');
  }

  @include respondTo('tritonus') {
    top: 64px;
    right: 15px;
  }

  @include respondTo('diapente') {
    bottom: 24px;
    left: 47px;
    background-color: rgba(0, 0, 0, 0.4);
  }
  @include respondTo('diapason') {
    display: none;
  }
}

.room-hero__point {
  fill: transparentize($color: getColor('accent'), $amount: 0.3);
  @include transition(fill);

  .room-hero__location:hover & {
    fill: getColor('accent');
  }
}

.room-hero__link {
  @include transition(color);

  .room-hero__location:hover & {
    color: getColor('primary');
  }
}

.room-hero__socials {
  z-index: 10;
  position: absolute;

  @include respondTo('tritonus') {
    bottom: 14px;
    left: 15px;
    display: block;
  }
  @include respondTo('diapente') {
    bottom: 38px;
    left: 372px;
    display: flex;
    gap: 20px;
  }
  @include respondTo('diapason') {
    display: none;
  }
}

.room-hero__socials-item {
  @include respondTo('tritonus') {
    & + & {
      margin-top: 8px;
    }
  }
}

.room-hero__button-wrap {
  position: absolute;
  z-index: 10;
  margin: 0 auto;
  display: flex;
  align-items: center;

  @include respondTo('tritonus') {
    bottom: 40px;
    left: 54%;
    transform: translateX(-50%);
  }

  @include respondTo('diapente') {
    right: 47px;
    bottom: 64px;
  }

  @include respondTo('diapason') {
    right: 85px;
    bottom: 66px;
  }
}
