.room-hero {
  position: relative;
  padding-top: 350px;
  padding-bottom: 14px;
  max-width: 414px;
  margin: 0 auto;

  @include respondTo('diapente') {
    padding-top: 340px;
    padding-bottom: 24px;
  }

  @include respondTo('diapason') {
    padding-top: 365px;
    padding-bottom: 48px;
  }

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // background-image: url('../images/room-hero/room-hero.jpg'),
  //   linear-gradient(#000000a6, #000000a6);


  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    // background-image: url('../images/room-hero/room-hero-2x.jpg'),
    //   linear-gradient(#000000a3, #000000a3);

  }

  @include respondTo('diapente') {
    padding-top: 340px;
    padding-bottom: 24px;
    max-width: 1024px;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.65), 
      rgba(0, 0, 0, 0.65), 
      url('../images/hero/room/room-hero-tablet.jpg'))
      ;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
        rgba(0, 0, 0, 0.65), 
        rgba(0, 0, 0, 0.65), 
        url('../images/hero/room/room-hero-tablet-2x.jpg'));
    }
  }

  @include respondTo('diapason') {
    padding-top: 412px;
    padding-bottom: 48px;
    max-width: 1280px;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.65), 
      rgba(0, 0, 0, 0.65), 
      url('../images/hero/room/room-hero-desktop.jpg'));

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
    rgba(0, 0, 0, 0.65), 
    rgba(0, 0, 0, 0.65), 
    url('../images/hero/room/room-hero-desktop-2x.jpg'));
    }
  }
}

.room-hero__decor {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 143px;
    background-image: linear-gradient(
      180deg,
      #000000 0%,
      rgba(0, 0, 0, 0.55) 54.17%,
      rgba(0, 0, 0, 0) 100%
    );
    @include respondTo('diapente') {
      height: 100px;
    }
    @include respondTo('diapason') {
      height: 147px;
    }
  }
}

.room-hero__swiper {
  @extend %list;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 93px;

  @include respondTo('diapente') {
    margin-bottom: 88px;
  }
}

.room-hero__swiper-button {
  @extend %marginPaddingReset;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  background-color: transparentize($color: getColor('primary'), $amount: 0.35);
  fill: getColor('accent');
  border: none;
}

.room-hero__title {
  @extend %marginPaddingReset;
  margin-bottom: 14px;

  font-family: $text-times-font;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.05em;
  color: getColor('primary-inversed');

  @include respondTo('diapente') {
    font-size: 36px;
    margin-bottom: 24px;
  }

  &--transform {
    text-transform: uppercase;
  }
}

.hero-room__descr {
  margin-bottom: 16px;
  max-width: 325px;
  color: getColor('primary-inversed');

  @include respondTo('diapente') {
    max-width: 400px;
    margin-bottom: 24px;
  }

  @include respondTo('diapason') {
    margin-bottom: 0;
  }
}

.room-hero__footer {
  display: flex;
  gap: 70px;
}

.room-hero__wrap {
  @include respondTo('diapente') {
    display: flex;
    gap: 40px;
  }

  @include respondTo('diapason') {
    display: none;
  }
}

.room-hero__location {
  @include respondTo('tritonus') {
    position: absolute;
    top: 64px;
    right: 15px;
  }
}

.room-hero__socials {
  display: block;

  @include respondTo('diapente') {
    display: flex;
    gap: 20px;
  }
}

.room-hero__socials-item {

  @include respondTo('tritonus') {
    & + & {
      margin-top: 8px;
    }
  }
}

.room-hero__icon {
  fill: transparentize($color: getColor('accent'), $amount: 0.3);
}

.room-hero__button-wrap {
  display: flex;
  align-items: center;
}

.room-hero__button {
  @include buttonSize(
    $price-button: true,
    $padding-top: 14px,
    $padding-bottom: 14px
  );
  @include buttonPlace($transparent-button: true);

  @include respondTo('diapente') {
    right: 47px;
    bottom: 64px;
  }

  @include respondTo('diapason') {
    right: 85px;
    bottom: 66px;
  }
}