.room-double {
  position: relative;
}

.room-double__container {
  @include respondTo('diapente') {
    position: relative;
  }
}

.room-double__tagline {
  margin-bottom: 8px;

  @include respondTo('diapente') {
    margin-bottom: 4px;
  }
}

.room-double__brand {
  margin-bottom: 32px;

  @include respondTo('diapente') {
    margin-bottom: 62px;
  }

  @include respondTo('diapason') {
    margin-bottom: 72px;
  }
}

.room-double__text {
  color: #5f5f5f;
  margin-bottom: 32px;
  max-width: 258px;

  @include respondTo('diapente') {
    max-width: 439px;
    margin-bottom: 174px;
  }
  @include respondTo('diapason') {
    margin-bottom: 188px;
    max-width: 400px;
    color: #7a7a7a;
  }
}

.button-wrapper {
  @include respondTo('tritonus') {
    margin-top: 20px;
  }
}