.room-triple {
  background-color: #f0ecd6;
  position: relative;
}

.room-triple__container {
  @include respondTo('diapente') {
    position: relative;
  }
}

.room-triple__tagline {
  text-align: end;
  margin-bottom: 8px;

  @include respondTo('diapente') {
    margin-right: 17px;
    margin-bottom: 4px;
  }

  @include respondTo('diapason') {
    margin-right: 57px;
  }
}

.room-triple__brand {
  margin-bottom: 32px;
  text-align: right;
  margin-right: -12px;

  @include respondTo('diapente') {
    margin-bottom: 62px;
    margin-right: -3px;
  }

  @include respondTo('diapason') {
    margin-bottom: 72px;
    margin-right: 37px;
  }
}

.room-triple__title {
    text-align: right;

  @include respondTo('diapente') {
    margin-right: 43px;
  }

  @include respondTo('diapason') {
    margin-right: 57px;
  }
}

.room-triple__text {
  max-width: 242px;
  margin-bottom: 32px;
  color: mix(getColor('primary-inversed'), getColor('primary'), 37.3%);
  margin-left: 70px; // перевірити (за макетом 98px - 15px падінг контейнеру)
  
  @include respondTo('diapente') {
    max-width: 400px;
    margin-right: 38px; // перевірити - неправильне значення
    margin-left: auto;
    margin-bottom: 169px;
  }

  @include respondTo('diapason') {
    margin-right: 110px;
    margin-bottom: 188px;
    color: #7a7a7a;
  }
}

.button-wrapper {
  @include respondTo('tritonus') {
    margin-top: 20px;
  }
}